VITE_SUPABASE_URL=https://wdwivzsodmfoiunzgtzk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indkd2l2enNvZG1mb2l1bnpndHprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU5NjkyMDEsImV4cCI6MjA3MTU0NTIwMX0.dUF8Meq-aRIYPakKoBTZAMGt7f3nKD9N938Ltnxt2P0